html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.task-item {
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.task-item:hover {
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.todo-list-item {
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.todo-list-item:hover {
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
